# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.installed.cfg
*.egg
.coverage
.pytest_cache/
.pythoncache/

# Environment
venv/
.env.local
.env.compose

# Project specific
.current_registry
.ansible_tmp/
.psqlpass
secrets/
vault.yaml
tailscale_vault.yaml
ansible/hosts.yaml

# Keys and certificates
*.key
*.pub

# Logs and temporary files
*.log
notes.md
TODO.md

# Development tools
.cursorignore
shell.nix
dev_tools/
old_keep/
