H3XRECON_DB_USER=h3xrecon
H3XRECON_DB_NAME=h3xrecon
H3XRECON_DB_HOST=pgsql
H3XRECON_DB_PASS=h3xrecon
H3XRECON_REDIS_SERVER=redis
H3XRECON_REDIS_PORT=6379
H3XRECON_NATS_SERVER=nats
H3XRECON_NATS_PORT=4222