---
PROCESSOR_PRIVATE_KEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  ......
  -----END OPENSSH PRIVATE KEY-----

WORKERS_PRIVATE_KEY: |
  -----BEGIN OPENSSH PRIVATE KEY-----
  ......
  -----END OPENSSH PRIVATE KEY-----
